<div class="row" >
  <h1 class="display-1">Program Items</h1><br />
</div>
<div class="row">
  <p class="lead">
    The following games have already been announced for <%= @event.name %>.
  </p>
</div>
<div class="row" >
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Game Master</th>
          <th scope="col">Description</th>
          <th scope="col">Planned Start Time</th>
          <th scope="col">Duration</th>
          <th scope="col">Language</th>
          <th scope="col">Minimum age for players</th>
          <th scope="col">Minimum number of players</th>
          <th scope="col">Maximum number of players</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @event.program_items.each do |program_item| %>
          <tr>
            <td><%= program_item.title %></td>
            <td><%= program_item.gamemaster %></td>
            <td>
              <% if program_item.description_en == nil || program_item.description_en.empty? %>
                No English description available.
              <% else %>
                <%=raw program_item.send("description_#{I18n.locale}") %>
              <% end %>
            </td>
            <td><%= l program_item.start_time.in_time_zone("Berlin"), format: :long %></td>
            <td><%= program_item.duration %></td>
            <td><%= program_item.language %></td>
            <td><%= program_item.min_age %></td>
            <td><%= program_item.min_player_count %></td>
            <td><%= program_item.max_player_count %></td>
            <% if can? :manage, program_item %>
              <td><%= link_to 'Show', event_program_item_path(program_item.event_id, program_item) %></td>
              <td><%= link_to 'Edit', edit_event_program_item_path(program_item.event_id, program_item) %></td>
              <td><%= link_to 'Delete', event_program_item_path(program_item.event_id, program_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
              <td></td>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row" >
  <% if user_signed_in? %>
    <%= link_to 'New Program Item', new_event_program_item_path(@event.id) %>
  <% else %>
    <div> Please log in to announce your games! </div>
  <% end %>
</div>
