Welcome to <%= @event_registration.event.name %>!

Apparently, you have been quick enough to catch <%= @event_registration.participants.size %> of the valuable spaces on offer!
You have successfully registered the following participants:


  <% @event_registration.participants.each do |participant| %>
<%= participant.first_name %>  
      </div>
      <div class="col-sm">
        <%= participant.last_name %> 
      </div>
      <div class="col-sm">
        <%= participant.birthdate %>
      </div>
      <div class="col-sm">
        <%= participant.nickname %> 
      </div>
      <div class="col-sm">
        <%= participant.country %>
      </div>
      <div class="col-sm">
        <%= participant.postcode %>
      </div>
      <div class="col-sm">
        <%= number_to_currency(@event_registration.participant_price?(participant), :unit => "€") %>
      </div>
    </div>
  <% end %>
  <div class="row price_total justify-content-end">
    <div class="col-sm">
  
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
     
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      <b>Your total Convention Fee for all registered participants is:</b> 
    </div>
    <div class="col-sm">
      <b><%= number_to_currency(@event_registration.price_total?, :unit => "€") %></b>
    </div>
  </div>
