<%= simple_form_for @ff_registration do |f| %>
  <div class="hidden">
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => @ff_registration.user_id }  %>
    <%= f.input :freeform_id, :as => :hidden, :input_html => { :value => @ff_registration.freeform_id }  %>
  </div>
  <div>
    Please select, which of the participants you registered for <%= @ff_registration.freeform.event.name %> you want to register for the freeform:
  </div>
  <div>
    <%= f.association :participants, label_method: :first_name, value_method: :id, include_blank: false, as: :check_boxes, :input_html => { :checked => false } %>
  </div>
  <div>
    Based on the short description of the freeform on our website, please let the author know what about the game you are most interested in, so he can choose the perfect character for you.</br>
    This information is only supposed to be a first assessment to get character casting started - the author will most likely get in contact with you for further information.
  </div>
  <div>
    <%= f.input :notes %>
  </div>
  <div class="form-actions">
  <%= f.submit t(:btn_registration), class: "btn btn-lg btn-default", value: t(:btn_registration) -%>
  </div>
<% end -%>
