<div>
  Du hast unter dem Benutzer-Account <%= @ff_registration.user.email %>, die folgenden Teilnehmer für <%= @ff_registration.freeform.name %> angemeldet:
</div>
<div class="row align-items-end participant-header">
    <div class="col-sm">
      Vorname
    </div>
    <div class="col-sm">
      Nachname
    </div>
    <div class="col-sm">
      Geburtsdatum
    </div>
</div>

<% @ff_registration.participants.each do |p| %>
  <div class="row align-items-end participant-row">
    <div class="col-sm">
      <%= p.first_name %> 
    </div>
    <div class="col-sm">
      <%= p.last_name %> 
    </div>
    <div class="col-sm">
      <%= p.birthdate %>
    </div>
  </div>
<% end %>
<div>
  Deine Nachricht an den Freeform-Autor:
</div>
<div>
  <%= @ff_registration.notes %>
</div> 
