<div>
  Using the User Account of <%= @ff_registration.user.email %>, you registered the following participants for <%= @ff_registration.freeform.name %>:
</div>
<div class="row align-items-end participant-header">
    <div class="col-sm">
      First Name 
    </div>
    <div class="col-sm">
      Surname
    </div>
    <div class="col-sm">
      Date of Birth
    </div>
</div>

<% @ff_registration.participants.each do |p| %>
  <div class="row align-items-end participant-row">
    <div class="col-sm">
      <%= p.first_name %> 
    </div>
    <div class="col-sm">
      <%= p.last_name %> 
    </div>
    <div class="col-sm">
      <%= p.birthdate %>
    </div>
  </div>
<% end %>
<div>
  Your message to the freeform author:
</div>
<div>
  <%= @ff_registration.notes %>
</div> 
