<%= simple_form_for(@registration.participant) do |r| %>
  <%= simple_form_for(@participant) do |p| %>
    <table cellspacing="0" cellpadding="0" border="0" width="100%;">
  				<tbody>
  				  <tr>
      					<td class="forminp" colspan="1"><%= p.input :first_name %></td>
      					<td class="forminp" colspan="1"><%= p.input :last_name %></td>
      					<td class="forminp" colspan="1"><%= p.input :nickname %></td>
    				</tr>
            <tr>
    					<td class="forminp" colspan="1"><%= p.input :email %></td>
            </tr>
            <tr>
              <td class="forminp" colspan="1"><%= p.input  :street  %></td>
              <td class="forminp" colspan="1"><%= p.input  :postcode %></td>
              <td class="forminp" colspan="1"><%= p.input  :city %></td>
              </tr>
              <tr>
              <td colspan="1" class="forminp"><%= p.input :country, priority: ['Germany', 'United Kingdom', 'France', 'United States', 'Italy'] %><br></td>
              <td colspan="1" class="forminp"><%= p.input :birthdate %></td>
              <td colspan="1" class="forminp"><%= p.input :newsletter %></td>
              </tr>
              <% end %>
              <tr>
              <td colspan="1" class="forminp"><%= r.association :event, :hidden %></td>
              <td colspan="1" class="forminp"><%= r.association :participant, :hidden %></td>
              <td colspan="1" class="forminp"><%= r.input :notes %> %></td>
              <td colspan="1" class="forminp"><%= r.input  :shuttle %></td>
              <td colspan="1" class="forminp"><%= r.input :extra_night %></td>
              </td>
            </tr>
            <tr>
              <td>  <%= recaptcha_tags %> </td>
            </tr>
        </tbody>
    </table>
  <p><%= @registration.participant.first_name %></p>
  <p><%= @registration.participant.last_name %></p>
  <p><%= @registration.participant.nickname %></p>
  <p><%= @registration.participant.email %></p>
  <p><%= @registration.participant.street %></p>
  <p><%= @registration.participant.postcode %> 
  <p><%= @participant.city %></p>
  <p><%= @registration.participant.country %></p>
  <p><%= @registration.participant.birthdate %></p>
  </div>
  <div class="form-actions">
    <%= r.button :submit %>
  </div>
<% end %>
