<% if @registration.errors.size > 0 -%>
  <div class="alert alert-danger" role="alert">
    <% @registration.errors.full_messages.each do |msg| %>
      <%= msg %>
      <% end -%>
    </div>
<% end %>

<div class="hidden">
  <div class="form-group", id="hiddenFormGroup">
    <label class="col-sm-1">First Name</label>
    <div class="col-sm-2">
      <input type="text" name="part_first_name[]" id="part_first_name_" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Optional">        </div>
    <div class="col-sm-2">
    </div>
    <label class="col-sm-1">Last Name</label>
    <div class="col-sm-2">
      <input type="text" name="part_last_name[]" id="part_last_name_" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Optional">        </div>
    <label class="col-sm-1">E-Mail</label>
    <div class="col-sm-2">
      <input type="email" name="part_email[]" id="part_email_" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Optional">        </div>
  </div>
</div>

<%= form_for(@registration, remote: true, html: { class: 'form-horizontal', id: 'newRegistrationForm' } ) do |f| %>
    <div class="form-group">
        <label class="col-sm-1 control-label">Auswahl Anzahl</label>
        <div class="col-sm-2">
          <select class="form-control" id="registrationSelect">
            <% (1..5).each do |i| -%>
              <option value=<%= i -%>><%= i %> Teilnehmer</option>
            <% end %>
          </select>
        </div>
        <div class="col-sm-8">
          Text zur Erklärung
        </div>
      </fieldset>
    </div>
    <% @participants.each do |participant| %>
      <div class="form-group">
        <label class="col-sm-1">Name</label>
        <div class="col-sm-2">
          <%= text_field_tag("part_first_name[]", participant.first_name, {class: "form-control mb-2 mr-sm-2 mb-sm-0", placeholder: "Optional"}) -%>
        </div>
        <div class="col-sm-2">
          <%= text_field_tag("part_last_name[]", participant.last_name, {class: "form-control mb-2 mr-sm-2 mb-sm-0", placeholder: "Optional"}) -%>
        </div>
        <label class="col-sm-1">Age</label>
        <div class="col-sm-1">
          <%= text_field_tag("part_age[]", "", {class: "form-control mb-2 mr-sm-2 mb-sm-0", placeholder: "Optional"}) -%>
        </div>
        <label class="col-sm-1">E-Mail</label>
        <div class="col-sm-2">
            <%= email_field_tag("part_email[]", participant.email, {class: "form-control mb-2 mr-sm-2 mb-sm-0", placeholder: "Optional"}) -%>
        </div>
      </div>
    <% end -%>
    </div>
    <div class="form-actions">
      <%= f.submit t(:btn_registration), class: "btn btn-lg btn-default", value: t(:btn_registration) -%>
    </div>
<% end %>

