<div id="FreeformCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h3><%= @event.freeforms.first.name %></h3>
      <h4>Freeform für <%= @event.freeforms.first.min_participants %> bis <%= @event.freeforms.first.max_participants %> Teilnehmer zwischen <%= @event.freeforms.first.min_age %> und <%= @event.freeforms.first.max_age %> Jahren.</h4>
      <strong>Language: <%= @event.freeforms.first.language %></strong>
      <p>
        <%=raw @event.freeforms.first.send("description_#{I18n.locale}") %>
      </p>
    </div>
    <% @event.freeforms.each do |freeform| %>
      <div class="carousel-item">
        <h3><%= freeform.name %></h3>
        <h4>Freeform für <%= freeform.min_participants %> bis <%= freeform.max_participants %> Teilnehmer zwischen <%= freeform.min_age %> und <%= freeform.max_age %> Jahren.</h4>
        <strong>Language: <%= freeform.language %></strong>
        <p>
          <%=raw freeform.send("description_#{I18n.locale}") %>
        </p>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
