<div id="FreeformCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h3><%= @event.freeforms.first.name %></h3>
      <h4>Freeform for <%= @event.freeforms.first.min_participants %> to <%= @event.freeforms.first.max_participants %> Participants between <%= @event.freeforms.first.min_age %> and <%= @event.freeforms.first.max_age %>   years.</h4>
      <strong>Language: <%= @event.freeforms.first.language %></strong>
      <p>
        <%=raw @event.freeforms.first.send("description_#{I18n.locale}") %>
      </p>
      <p>
        <%= link_to "Details Registration", event_freeform_path(@event, @event.freeforms.first) %>
      </p>
    </div>
    <% @event.freeforms.each do |freeform| %>
      <div class="carousel-item">
        <h3><%= freeform.name %></h3>
        <h4>Freeform for <%= freeform.min_participants %> to <%= freeform.max_participants %> Participants between <%= freeform.min_age %> and <%= freeform.max_age %>   years.</h4>
        <strong>Language: <%= freeform.language %></strong>
        <p>
          <%=raw freeform.send("description_#{I18n.locale}") %>
        </p>
        <p>
          <%= link_to "Details / Registration", event_freeform_path(@event, freeform) %>
        </p>
      </div>
    <% end %>
  </div>
</div>
