<div class="row align-items-end nested-fields">
  <div class="col-sm">
    <%= f.input :first_name, placeholder: 'First Name' %> 
  </div>
  <div class="col-sm">
    <%= f.input :last_name, placeholder: 'Surname' %> 
  </div>
  <div class="col-sm">
    <%= f.input :birthdate, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year, use_short_month: true %>
  </div>
  <div class="col-sm">
    <%= f.input :nickname, placeholder: 'Nickname for Badge', required: false %> 
  </div>
  <div class="col-sm">
    <%= f.input :country, priority: ["DE", "GB", "FR"] %>
  </div>
  <div class="col-sm">
    <%= f.input :postcode, required: false, placeholder: 'Only German Residents' %>
  </div>
  <div class="col-sm">
    <%= link_to_remove_association "remove participant", f, html_options: '"data-turbolinks="false"' %>
  </div>

</div>
