<% content_for :title do %>
  <title> Registration for <%= @event_registration.event.name %> </title>
<% end %>
<div class="container-fluid">
  <div class="row" >
    <div class="col-12" >
      <p>
        You are about to register the following People for <b><%= @event_registration.event.name -%></b>. Please review the data and submit when ready.
      </p>
    </div>
  </div>
    <div class="row align-items-end participant-header">
      <div class="col-sm">
        First Name 
      </div>
      <div class="col-sm">
        Surname
      </div>
      <div class="col-sm">
        Date of Birth
      </div>
      <div class="col-sm">
        Nickname for Badge 
      </div>
      <div class="col-sm">
        E-Mail Address 
      </div>
      <div class="col-sm">
        Country of Residence
      </div>
      <div class="col-sm">
        Postcode, if from Germany
      </div>
    </div>
    <% @event_registration.participants.each do |participant| %>
      <div class="row align-items-end participant-row">
        <div class="col-sm">
          <%= participant.first_name %> 
        </div>
        <div class="col-sm">
          <%= participant.last_name %> 
        </div>
        <div class="col-sm">
          <%= participant.birthdate %>
        </div>
        <div class="col-sm">
          <%= participant.nickname %> 
        </div>
        <div class="col-sm">
          <%= participant.email %> 
        </div>
        <div class="col-sm">
          <%= participant.country %>
        </div>
        <div class="col-sm">
          <%= participant.postcode %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <%= button_to :submit, params: @event_registration.as_json(root: true, include: :participants) %>
    </div>
</div>



