<% content_for :title do %>
  <title> Registration for <%= @event_registration.event.name %> </title>
<% end %>
<div class="container-fluid">
  <div class="row" >
    <div class="col-12" >
      <h1>
        You have successfully registered the following People for <%= @event_registration.event.name -%>.</h1>
        <p>Payment information and all further updates regarding this registration will be sent to <%= @event_registration.user.email -%>. </p>
    </div>
  </div>
  <div class="row align-items-end participant-header">
    <div class="col-sm">
      First Name 
    </div>
    <div class="col-sm">
      Surname
    </div>
    <div class="col-sm">
      Date of Birth
    </div>
    <div class="col-sm">
      Nickname for Badge 
    </div>
    <div class="col-sm">
      Country of Residence
    </div>
    <div class="col-sm">
      Postcode, if from Germany
    </div>
    <div class="col-sm">
      Participant Fee based on age
    </div>
  </div>
  <% @event_registration.participants.each do |participant| %>
    <div class="row align-items-end participant-row">
      <div class="col-sm">
        <%= participant.first_name %> 
      </div>
      <div class="col-sm">
        <%= participant.last_name %> 
      </div>
      <div class="col-sm">
        <%= participant.birthdate %>
      </div>
      <div class="col-sm">
        <%= participant.nickname %> 
      </div>
      <div class="col-sm">
        <%= participant.country %>
      </div>
      <div class="col-sm">
        <%= participant.postcode %>
      </div>
      <div class="col-sm">
        <%= number_to_currency(@event_registration.participant_price?(participant), :unit => "€") %>
      </div>
    </div>
  <% end %>
  <div class="row price_total justify-content-end">
    <div class="col-sm">
  
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
     
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      <b>Your total Convention Fee for all registered participants is:</b> 
    </div>
    <div class="col-sm">
      <b><%= number_to_currency(@event_registration.price_total?, :unit => "€") %></b>
    </div>
  </div>
</div>



