<%= simple_form_for(@freeform) do |f| %>
  <%= f.error_notification %>
  <div class="hidden">
    <%= f.input :event_id, :as => :hidden, :input_html => { :value => @freeform.event_id }  %>
  </div>
  <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description_de %>
      <%= f.input :description_en %>
      <%= f.input :language, as: :select, priority: [ "English" ], collection: [ "English", "German" ] %>
      <%= f.input :min_age %>
      <%= f.input :max_age %>
      <%= f.input :min_participants %>
      <%= f.input :max_participants %>
      <%= f.input :author_email %>
      <%= f.input :status %>
      <%= f.input :registration_start_date, as: :date,  use_short_month: true %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
