<h3><%= @freeform.name %></h3>
<h4>Freeform für <%= @freeform.min_participants %> bis <%= @freeform.max_participants %> Teilnehmer zwischen <%= @freeform.min_age %> und <%= @freeform.max_age %> Jahren.</h4>
<strong>Language: <%= @freeform.language %></strong>
<p>
  <%=raw @freeform.send("description_#{I18n.locale}") %>
</p>
<p>
  <% if @freeform.status == "active" %>
    <%= link_to "Jetzt anmelden!",  new_event_freeform_ff_registration_path(@freeform.event.id, @freeform.id), class: "btn btn-primary btn-lg", role: "button" %>
  <% else %>
    Anmeldung wird am <%= l @freeform.registration_start_date -%> freigeschaltet.    
  <% end %>
</p>
<% if can? :update, @freeform %>
  <%= link_to 'Edit', edit_event_freeform_path(@freeform) %>
<% end %>
<%= link_to 'Back', request.referer.present? ? request.referer : default_path %>
