<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= favicon_link_tag %>

    <% if content_for?(:title) %>
      <%= content_for(:title) %>
    <% else %>
      <title>The Eternal Convention</title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
  </head>

  <body>
    <%= render "shared/flash" %>
    <%= render "shared/navbar" %>    
    <main role="main">
      <%= yield %>
    </main>

    <footer class="container">
      <p>&copy; The Eternal Convention e.V. 2017</p>
    </footer>

    <!-- JavaScript 
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
  </body>
